body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 800px;
    height: 400px;
    padding: 2rem;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.4rem;
}

.wrapper>:nth-child(1) {
    height: 30%;
    /* background-color: red; */
}

.wrapper>:nth-child(2) {
    height: 18%;
    font-family: Irish Grover;
    /* font-family: ravie; */
    font-size: 2rem;
    /* background-color: green; */
}

.wrapper>:nth-child(3) {
    height: 15%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper>:nth-child(3) input {
    height: 80%;
    border: 1px solid #d5d5d5e1;
    border-radius: 7px;
}
input:focus::placeholder {
    color: transparent ;
}


.wrapper>:nth-child(3) button {
    width: fit-content;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
    border: none;
    background-color: hsl(220, 100%, 55%);

    /* font-family: Irish Grover; */
    color: white;
    /* font-weight: bold; */
}

.wrapper>:nth-child(3) button:active {
    background-color: hsl(60, 100%, 45%);
    color: hsl(220, 100%, 55%);
    cursor: pointer;
}

.wrapper>:nth-child(3) button:hover {
    cursor: pointer;
}

#gender-guess{
    height: 100%;
    background-color: hsl(0, 0%, 95%);
    width: 30%;
    border-radius: 5px;
    border: 1px solid #d5d5d5e1;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#gender-guess>:nth-child(1) {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

#gender-guess>:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
    color:hsl(12, 100%, 50%);
}

#gender-guess>:nth-child(3) {
    color: hsl(216, 100%, 50%);
    font-size: 2rem;    
    font-family: Irish Grover;
}


.noData{
    height: fit-content;
    color: hsl(300, 100%, 35%);
    font-size: 7rem;

}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;
}

#loader {
    position: absolute;
    overflow: hidden;
    transform: translate(20%, 68%);

}